@charset "UTF-8";
/* CSS Document */
.menu {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 9pt;
	font-weight: lighter;
	text-transform: none;
	color: #666;
	text-align: left;
}
.text {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 9pt;
	color: #999;
	vertical-align: bottom;
	text-align: right;
	font-weight: lighter;
	padding-right: 10px;
}
.text2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 10pt;
	color: #999;
	text-align: right;
	font-weight: lighter;
	padding-right: 10px;
	vertical-align: text-top;
}

a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: none;
	color: #FC9;
}
a:active {
	text-decoration: none;
	color: #FC9;
}
.imgborder {
	border-right-width: medium;
	border-bottom-width: medium;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
