@media (max-width: 1200px){
	.wrap { width:960px; }
	.vps_slider_2 {  width: 480px; }
	.vps_slider_3 {  width: 640px; }
	.vps_slider_4 {  width: 720px; }
	.vps_slider_5 {  width: 770px; }
	.vps_slider_6 {  width: 800px; }
	.vps_slider_7 {  width: 810px; }
	.vps_slider_8 {  width: 840px; }
	.sidebar_left, .sidebar_right { width:25%; }
	.content_left, .content_right { width:75%; }
	.testimonials_img { width:20%; }
	.testimonials_text { width:80%; }

	#train, #battery, #sun, #lightning, #marine, #ship, #gel {
		width: 160px;
		height: 160px;
		margin: 20px;
	}
	#slider_wrapper .wrap {
		width: 100%;
	}


	.small_btn_series {
		width:155px;
	}

	.steps {
		font-size: 50% !important;
	}

	#selector_box2 strong {
		font-size:100%;
	}
	.sectionred1,
	.sectiongray2 {
		font-size:70%;
	}

	#step4selector {
		top: 700px;
		left:40px;
	}
	#selector_box3 label {
		font-size: 70%;
	}


}
@media (max-width: 1060px){
	.wrap { width:750px; }
	#top_links ul { float:none; text-align: center; }
	#top_links ul li { float:none; padding-left:0; }
	#tabs > ul { width:8%; }
	#tabs > ul li em { display: none; }
	#tabs .tabs_panel { width:92%; padding-left:40px; }
	#logo, #logo a h1, #logo i { float:none; text-align: center; padding-right:0; }
	#toggle i {
		display:block !important;
	}
	.js #nav {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: relative;
		display: block;
		overflow: hidden;
		zoom: 1;
	}
	#nav { margin:20px 0; width: 100%; }
	#nav.opened { max-height: 9999px; }
	#nav ul,
	#nav ul ul,
	#nav ul ul ul {
		margin: 0;
		padding: 0;
		width: 100%;
		background: none !important;
		opacity: 1 !important;
		display: block !important;
		list-style: none;
		position: static !important;
		border:0;
	}
	#nav li.current-menu-item a { border-top: none !important; }
	#nav ul ul li.current-menu-item a { background: none; border-top: none !important; color: #c65757; }
	#nav ul ul ul li.current-menu-item a { background: none; border-top: none !important; color: #c65757; }
	#nav > ul > li:hover > ul { border-top:none; }
	#nav > ul > li > ul::after {
		content: '';
		border: none;
		width: 0;
		height: 0;
	}
	#nav ul ul li a {
		width: 100%;
		padding: 10px 0px;
		color: #1a1a1a;
		background: transparent;
		border: none;
	}
	#nav ul ul li:hover > a { background: transparent !important; }
	#nav ul ul ul li a:hover { color: #c65757; }
	#nav li {
		width:100%;
		margin: 0 !important;
		padding: 0 !important;
		text-align: center;
	}
	#nav li a { padding:10px 0; }
	.has-sub ul {
		width:100%;
		opacity:1;
		display: block !important;
		position: relative !important;
	}
	#nav ul ul ul li { background: none; }
	#nav ul ul ul li:first-child { border-top: none !important; }
	#nav div > ul > li > ul::after { display: none !important; }
	#nav div > ul > li:hover > ul { border-top: none !important; }
	#nav ul ul ul li:first-child { border-top: none !important; }
	.vps_slider_2 {  width: 380px; }
	.vps_slider_3 {  width: 500px; }
	.vps_slider_4 {  width: 560px; }
	.vps_slider_5 {  width: 600px; }
	.vps_slider_6 {  width: 620px; }
	.vps_slider_7 {  width: 640px; }
	.vps_slider_8 {  width: 655px; }
	.ds_processor { width:35%; float:left; padding-left:20px; }
	.ds_ram { width:9%; }
	.ds_cores { display: none; }
	.ds_diskspace { width:13%; }
	.ds_bandwidth { width:13%; }
	.ds_price { width:10%; }
	.ds_order { width:20%; }
	.sidebar_left, .sidebar_right { width:30%; }
	.content_left, .content_right { width:70%; }
	.testimonials_img { width:25%; }
	.testimonials_text { width:75%; }
	.feature_2_left span { float:left; margin:20px 30px 10px 0px; }
	.feature_2_left h6, .feature_2_left p { text-align: left; }

	#train, #battery, #sun, #lightning, #marine, #ship, #gel {
		width: 140px;
		height: 140px;
		margin: 15px;
	}

	#layerslider_1 {
		height: 400px !important;
	}

	#rewards {
		height: 350px;
	}

	#rollsrewards {
		width: 150px;
		height: 160px;
		background-size:contain;
		background-repeat:no-repeat;
	}

	.small_btn_series {
		width:145px;
	}
	.sectiongray2 {
		font-size:60%;
	}

	#selector_box2 strong {
		font-size:80%;
	}

	.side_box_1 ul li a {
		font-size:80% !important;
	}

	#step4selector {
		top: 730px;
		left:30px;
	}

	#selector_box3 .desc1 {
		width: 45%;
	}

}

@media (max-width: 850px){
	.wrap { width:540px; }
	.one_half, .one_third, .one_fourth, .one_fifth, .two_thirds { width:100%; margin-bottom:30px; }
	.one_half.last, .one_third.last, .one_fourth.last, .one_fifth.last, .two_thirds.last { margin-bottom:0px; }
	#tabs > ul { width:12%; }
	#tabs > ul li em { display: none; }
	#tabs .tabs_panel { width:88%; padding-left:40px; }
	#footer_bottom p, #footer_bottom ul { float:none; text-align: center; }
	#footer_bottom ul li { margin-top:10px; float:none; text-align: center; display: inline-block; }
	.vps_slider_2 {  width: 270px; }
	.vps_slider_3 {  width: 360px; }
	.vps_slider_4 {  width: 405px; }
	.vps_slider_5 {  width: 430px; }
	.vps_slider_6 {  width: 450px; }
	.vps_slider_7 {  width: 460px; }
	.vps_slider_8 {  width: 470px; }
	.ds_processor { width:35%; float:left; padding-left:20px; }
	.ds_ram { width:15%; }
	.ds_cores { display: none; }
	.ds_diskspace { display: none; }
	.ds_bandwidth { display: none; }
	.ds_price { width:20%; }
	.ds_order { width:30%; }
	.vps .one_half, .vps .one_third { margin-bottom:5px; text-align: center !important; }
	.sidebar_left, .sidebar_right { width:100%; padding-bottom:50px; margin-bottom:60px; border-bottom: 1px solid #ededed; }
	.content_left, .content_right { width:100%; padding-left:0; padding-right:0; }
	#comment_form input { width:100%; }
	.testimonials_img { width:30%; }
	.testimonials_text { width:70%; }
	.feature_2 span, .feature_2_left span { float:left; margin:20px 30px 10px 0px; width:50px; height:50px; }
	.feature_2_left h6, .feature_2_left p { text-align: left; }
	.feature_2 i, .feature_2_left i { font-size: 20px; width:50px; padding-top:15px; }

	#train, #battery, #sun, #lightning, #marine, #ship, #gel {
		width: 100px;
		height: 100px;
		margin: 5px;
	}

	#layerslider_1 {
		height: 300px !important;
	}

	#quote {
		height: 300px;
	}

	#quote_box {
		width: 580px;

	}

	#left_quote {
		margin-top: 80px;
		width:20px;
	}

	#right_quote {
		margin-top: 125px;
		width:20px;
	}

	#quotes {
		width: 500px;
	}

	#quote1,
	#quote2 {
		font-size: 16px;
	}

	#quote1 {
		padding-top: 90px;
	}

	#rewards_right {
		margin-left: 10px;
		margin-top: 10px;
		width: 450px;
	}

	#rewards_right h5 {
		font-size:16px;
	}

	#rewards_right p {
		font-size:14px;
	}

	#more_info {
		margin-top: 10px;
		font-size: 14px;
		width: 125px;
		height: 30px;
		line-height: 30px;
	}

	#copyrightbottom,
	#footerlinks {
		float:none;
	}


	#step4selector {
		top: 830px;
		left:30px;
	}

	#selector_box3 .desc1 {
		width: 45%;
	}

	#parameter_pdf2,
	#parameter_pdf {

		font-size: 80%;
	}

	.side_box_1 ul li a {
		font-size:70% !important;
	}
	.small_btn_series {
		width: 130px;
	}

	a.fancybox,
	.price,
	.main_box .desc p,
	.main_box .desc h5 a,
	.side_box_1 h5 {
	//	font-size: 70% !important;
	}

	#step4selector {

		top: 1130px;
	}

}

@media (min-width: 641px){
	.series_mobile {
       		display:none !important;
	}
}
@media (max-width: 640px){
	.wrap { width:330px; }
	.vps_slider_2 {  width: 165px; }
	.vps_slider_3 {  width: 220px; }
	.vps_slider_4 {  width: 245px; }
	.vps_slider_5 {  width: 260px; }
	.vps_slider_6 {  width: 270px; }
	.vps_slider_7 {  width: 280px; } .vps_7 .node i { font-size: 30px; }
	.vps_slider_8 {  width: 290px; } .vps_8 .node i { font-size: 30px; }
	.ds_processor { width:35%; float:left; padding-left:20px; }
	.ds_ram { display: none; }
	.ds_cores { display: none; }
	.ds_diskspace { display: none; }
	.ds_bandwidth { display: none; }
	.ds_price { width:25%; }
	.ds_order { width:40%; }
	#tabs > ul { width:18%; }
	#tabs > ul li em { display: none; }
	#tabs .tabs_panel { width:82%; padding-left:40px; }
	.comment_avatar { width:100%; padding-bottom:10px; }
	.comment_avatar img { width:50%; }
	.comment_text { width:100%; padding-left:0; }
	.depth-2 { width:95%; }
	.depth-3 { width:90%; }
	.depth-4 { width:85%; }
	.depth-5 { width:80%; }
	#page_404 input { width: 100%; }
	.testimonials_img { width:30%; }
	.testimonials_text { width:70%; }
	.testimonials img { height:50px; width:50px; }
	.feature_2 span, .feature_2_left span { float:left; margin:20px 30px 10px 0px; width:50px; height:50px; }
	.feature_2_left h6, .feature_2_left p { text-align: left; }
	.feature_2 i, .feature_2_left i { font-size: 20px; width:50px; padding-top:15px; }

	#train, #battery, #sun, #lightning, #marine, #ship, #gel {
		width: 70px;
		height: 70px;
		margin: 5px;
	}


	#quote {
                height: 200px;
        }

        #quote_box {
                width: 380px;

        }

        #left_quote {
                margin-top: 20px;
                width:15px;
        }

        #right_quote {
                margin-top: 85px;
                width:15px;
        }

        #quotes {
                width: 350px;
        }

        #quote1,
        #quote2 {
                font-size: 16px;
        }

        #quote1 {
                padding-top: 30px;
        }

	#rewards {
		height: 350px;
	}

	#rollsrewards {
		width: 80px;
		height: 90px;
		background-size:contain;
		background-repeat:no-repeat;
	}

	#rewards_right {
		margin-left: 10px;
		margin-top: 5px;
		width: 325px;
	}

	#rewards_right h5 {
		font-size:14px;
	}

	#rewards_right p {
		font-size:12px;
	}

	#more_info {
		margin-top: 5px;
		font-size: 10px;
		width: 125px;
		height: 25px;
		line-height: 25px;
	}

	#step4selector {
		top: 970px;
		left:30px;
	}

	#quote {
		height: 350px;
	}

	#quotes {
		width: 350px;
	}

	#rewards_right {
		width: 280px;
	}
	#rewards {
		height: 450px;
	}

	#box_1_mobile {
		display:block;
		text-align:center;
	}

	#box_1_default {
		display:none;
	}
	#box_1_stat {
		width: 100%;
	}

	#series_container {
		width: 100% !important;
		height: 100% !important;
	}

	.series {
		display:none;
	}

	.sidebar {
		width: 100%;
	}

	.series_mobile {
		width: 100% !important;
		right: auto !important;
		top: auto !important;
		position: relative !important;
	}

	#step4selectormobile,
	#series_renewable_energy,
	#series_marine,
	#series_agm,
	#series_railroad,
	#series_motive_power {
		display: block;
	}

	.btn_series {
		width: 100% !important;
		margin-left: 0 !important;
		margin-bottom: 20px;
	}


	#selectorbox_absorptioncharge,
	#selector_box3,
	#step4selector,
	#selected_box,
	#step5thandquantitybox {
		display:none;
	}

	#total_ah_capacity {
		vertical-align:middle;
		text-align: center;
	}

	#selectorbox_absorptioncharge .desc {
		display:none;
	}

	#selectorbox_absorptioncharge .desc1 {
		width: 100%;
	}

	#step_selectbatterytype {
		text-align:left;
	}

	.step5thquantitybox .form-group {
		margin: 0 20px;
	}

	.step5thquantitybox .steps img,
	#step_selectbatterytype img {
		margin-left: 15px;
	}
	#step_chargeoutput {
		text-align:left;
	}

	.sectiongray2,
	.steps {
		font-size: 80% !important;
	}

	#selectorbox_absorptioncharge .steps {
		margin-left: 10px;
	}

	.batterymodeldata2ndpart .main_box,
	#content .main_box {
		box-shadow: none;
	}

	#chargeroutputstatement {
		margin:0 20px;
	}

	.ui-icon{
        	font-size: 1.8em;
    	}

}

@media (max-width: 430px){
	.wrap { width:200px; }
	.vps_slider_2 {  width: 100px; }
	.vps_slider_3 {  width: 130px; }
	.vps_slider_4 {  width: 150px; }
	.vps_slider_5 {  width: 160px; } .vps_5 .node i { font-size: 30px; }
	.vps_slider_6 {  width: 170px; } .vps_6 .node i { font-size: 30px; }
	.vps_slider_7 {  width: 170px; } .vps_7 .node i { font-size: 20px; }
	.vps_slider_8 {  width: 180px; } .vps_8 .node i { font-size: 20px; }
	.ds_processor { width:40%; float:left; padding-left:20px; }
	.ds_ram { display: none; }
	.ds_cores { display: none; }
	.ds_diskspace { display: none; }
	.ds_bandwidth { display: none; }
	.ds_price { display: none; }
	.ds_order { width:60%; }
	.ds_order a.button { padding:3px 5px 5px 5px; }
	#tabs > ul { width:30%; }
	#tabs > ul li em { display: none; }
	#tabs .tabs_panel { width:70%; padding-left:40px; }
	.feature_2 span { display: block; float:none; }
	.depth-2 { width:98%; }
	.depth-3 { width:96%; }
	.depth-4 { width:94%; }
	.depth-5 { width:92%; }
	.testimonials_img { margin-left:30px; }
	.testimonials img { height:50px; width:50px; display:block; }
	.testimonials_text { width:100%; padding-left:30px; }

	#train, #battery, #sun, #lightning, #marine, #ship, #gel {
		width: 50px;
		height: 50px;
		margin: 5px;
	}


	#quote {
		height: 450px;
	}

	#quotes {
		width: 280px;
	}

	#rewards_right {
		width: 280px;
	}
	#rewards {
		height: 500px;
	}

	section.sectiontable #model {
		font-size:80%;
	}
}
