/*
	Theme Name: RealHost - Responsive WordPress Hosting Theme
	Theme URI: http://danthemes.com/wp/realhost/
	Description: Perfect for a Hosting Provider
	Author: DanThemes
	Author URI: http://danthemes.com/
	Version: 1.0
	Text Domain: rollsbattery-uk
	Tags: responsive-layout, two-columns, three-columns, four-columns, light, red, left-sidebar, right-sidebar
	License: GNU General Public License
	License URI: license.txt
*/

/*******************************************************************************************************
********************************************************************************************************

	TABLE OF CONTENTS

	1.  MISCELLANEOUS
	2.  COLUMNS
	3.  LINKS
	4.  HEADINGS
	5.  PARAGRAPH
	6.  CODE & PRE
	7.  LOGO AND TOP LINKS
	8.  MAIN NAVIGATION
	9.  TOP AREA & THE SLIDER
	10. BREADCRUMB
	11. SIDEBAR LEFT & SIDEBAR RIGHT
	12. BUTTONS
	13. MESSAGE BOX
	14. VPS SLIDER
	15. LATEST TWITTER POSTS
	16. DEDICATED SERVERS
	17. BLOG POST
	18. PAGINATION
	19. COMMENTS
	20. 404 PAGE
	21. CONTACT FORM
	22. FOOTER
	23. WHMCS STYLING
	24. STATS

********************************************************************************************************
/*******************************************************************************************************/

@charset "utf-8";
@import url("css/reset.css");

body {
	background: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size:16px;
	line-height:25px;
}



/*******************************************************************************************************/
/* 1. miscellaneous */
/*******************************************************************************************************/

.wrap {
	width:100%;
	margin:0 auto;
}
.clear { clear:both; }
.alignleft {
	float:left;
	text-align:left;
}
.alignright {
	float:right;
	text-align:right;
}
.content { padding: 10px 0; }
.content ul.menu li {
	width:100%;
	list-style-type: none;
}
.content ul.menu li i { padding-right:10px; }
.space { padding:50px 0; }
.space2 { padding:25px 0; }
.highlight {
	background: #c65757;
	color: #fff;
	padding:4px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.bypostauthor {}
.aligncenter {}
table { width:100%; max-width:100%; text-align: center; }
table tr:first-child { border-bottom:none; }
table tr { border-bottom:1px solid #f5f5f5; }
table th { background: #1a1a1a; color: #fff; font-weight:normal; padding:10px 15px; }
table td { background: #fff; padding:10px 15px;  }
table i { padding-right:10px; }
dt { font-size:18px; font-weight: bold; }
dd { padding-left:20px; }
#calendar_wrap { width:100%; max-width: 100%; }
#wp-calendar { width:100%; max-width: 100%; }
#wp-calendar th { padding:0; }
#wp-calendar td { padding:0; }
input, select { max-width: 100%; }
input, textarea { outline: none; color: #aaa; font-family: 'Open Sans', sans-serif; font-size:14px; }
/*
input[type="text"],
input[type="password"] {
	padding:15px;
	border: none;
	background: #fff;
}
*/
input[type="submit"], input[type="reset"] {
	display: inline-block;
	background: transparent;
	border: 2px solid #c65757;
	padding:20px 40px;
	margin:0 2px 2px 0;
	color: #c65757;
	cursor: pointer;
	text-transform: lowercase;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
input[type="submit"]:hover, input[type="reset"]:hover {
	background: #c65757;
	border: 2px solid #c65757;
	padding:20px 40px;
	color: #fff;
	text-transform: lowercase;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
}
embed { max-width: 100%; }
iframe { max-width: 100%; }
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
address { margin-bottom:1.5em; font-style: italic; }
/* blockquote:before {
	font-family: 'FontAwesome';
	content: "\f10d";
	float:left;
	padding-right:10px;
} */
blockquote { padding-left:20px;}
cite { display: block; font-style: italic; }
i { color: #c65757; }
.icons_wrapper i { padding-right:10px; }
.icon { padding-right:10px; }
span.icon_list {
	width:100%;
	display: block;
}
span.icon_list i {
	text-align: center;
	width:20px;
	display: inline-block;
}
::selection {
  	background: #c65757; /* WebKit/Blink Browsers */
  	color: #fff;
}
::-moz-selection {
  	background: #c65757; /* Gecko Browsers */
  	color: #fff;
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}



/*******************************************************************************************************/
/* 2. columns */
/*******************************************************************************************************/

.one_half {
	float:left;
	width:47%;
	margin:0 6% 0 0;
}
.one_third {
	width:30%;
	float:left;
	margin-right:5%;
}
.two_thirds {
	float:left;
	width:65%;
	margin:0 5% 0 0;
}
.one_fourth {
	width:23%;
	float:left;
	margin-right:2.6%;
}
.one_fifth {
	float:left;
	width:18%;
	margin:0 2.5% 0 0;
}
.last { margin-right: 0 !important; }



/*******************************************************************************************************/
/* 3. links */
/*******************************************************************************************************/

a {
	color: #c65757;
	text-decoration:none;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
a:hover {
	color: #333;
	text-decoration:none;
}



/*******************************************************************************************************/
/* 4. headings */
/*******************************************************************************************************/

h1 {
	font-size:30px;
}
h2 {
	font-size:27px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:21px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	margin:0 0 10px 0;
}
a h1, a h2, a h3, a h4, a h5, a h6 {
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover {
	color: #c65757;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
.heading {
	text-transform: lowercase;
	font-size: 18px;
	color: #1a1a1a;
	width:auto;
	display: table;
	margin:0 auto;
	font-style: italic;
	text-align: center;
	padding-bottom:5px;
	border-bottom:3px solid #eee;
	margin-bottom: 50px;
}



/*******************************************************************************************************/
/* 5. paragraph */
/*******************************************************************************************************/

p {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:25px;
	margin:0 0 10px 0;
	text-shadow:none;
	color: #aaa;
}



/*******************************************************************************************************/
/* 6. code & pre */
/*******************************************************************************************************/

code, pre {
	background: #fff;
	padding:5px 20px;
	color: #aaa;
	margin:10px 0;
	font-size:11px;
}



/*******************************************************************************************************/
/* 7. logo and top links */
/*******************************************************************************************************/

#top_links {
	background: #f5f5f5;
	width:100%;
	color: #aaa;
}
#top_links { width:100%; padding:15px 0; }
#top_links ul { float:right; }
#top_links ul li { color: #aaa; float:left; padding-left:30px; }
#top_links ul li a { color: #aaa; }
#top_links ul li a:hover { color: #c65757; }
#top_links ul li i { color: #aaa; padding-right:10px; }

#logo {
	float:left;
	padding:45px 0 40px 0;
}
#logo i {
	float: left;
	padding-right: 10px;
	line-height: 27px;
	font-size: 30px;
}
#logo a h1 {
	text-transform: none;
	float: left;
	margin:0;
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #1a1a1a;
}
#top {
	background: #fff;
}



/*******************************************************************************************************/
/* 8. main navigation */
/*******************************************************************************************************/

#toggle i {
	display:none;
	color: #c65757;
	text-align:center;
	font-size:30px;
	margin:0 auto;
}
#nav {
 	position: relative !important;
	float:right;
	z-index: 5000;
}
#nav div > ul > li {
	float: left;
	margin-left:20px;
}
#nav div > ul {
  	list-style: none;
	position: relative;
	display: block;
	width: 100%;
	z-index: 500;
}
#nav i { color: #fff; }
#nav li a { text-transform: uppercase; color: #fff; padding:45px 0 45px 0; border-top:3px solid transparent; }
#nav li a:hover { color: #c65757; }
#nav div > ul > li.current-menu-item a { border-top:3px solid #c65757; }
#nav li.current-menu-item a, #nav li.current-menu-item a i { color: #c65757; }
#nav ul ul li.current-menu-item a { color: #c65757; border-top:none; }
#nav ul ul ul li.current-menu-item a { color: #c65757; border-top:none; }
#nav div > ul > li {
	display: inline-block;
	position: relative;
}
#nav div > ul > #menu-button { display: none; }
#nav ul li a {
	font-family: 'Lato', sans-serif;
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #1a1a1a;
}
#nav .sub-menu { padding-left:0; }
#nav ul ul {
	background: #fff;
	position: absolute;
	left: -9999px;
	top: 100px;
	-webkit-transition: opacity .3s ease, top .25s ease;
	-moz-transition: opacity .3s ease, top .25s ease;
	-ms-transition: opacity .3s ease, top .25s ease;
	-o-transition: opacity .3s ease, top .25s ease;
	transition: opacity .3s ease, top .25s ease;
	z-index: 1000;
}
#nav ul ul li {
	position: relative;
}
#nav div > ul > li:hover > ul {
	left: -20px;
	border-top:3px solid #c65757;
	top: 90px;
	opacity: 1;
	z-index:9999;
}
#nav ul ul.sub-menu > li a {
	width: 180px;
	padding: 10px 20px;
	color: #aaa;
	background: #fff;
	border-top: none;
	border-bottom:1px solid #f5f5f5;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
#nav ul ul li:last-child a {
	border-bottom: none;
}
#nav ul ul > li a:hover {
	background: #c65757;
	color: #fff;
}
#nav div > ul > li > ul::after {
	content: '';
	border: 6px solid transparent;
	width: 0;
	height: 0;
	border-bottom-color: #c65757;
	position: absolute;
	top: -12px;
	left: 22px;
}

#nav ul ul ul {
	background: transparent;
	top: 37px;
	border-left:5px solid transparent;
}
#nav ul ul ul li {
	background: #fff;
}
#nav ul ul li:hover > ul {
	left: 180px;
	top: -2px;
	opacity: 1;
}
#nav ul ul ul li:first-child { border-top: 3px solid #c65757; }
#nav ul ul ul li a:hover {
	color: #fff;
}
#nav ul ul ul li.current-menu-item a:hover {
	color: #fff !important;
}



/*******************************************************************************************************/
/* 9. top area & the slider */
/*******************************************************************************************************/

#slider_wrapper {
	/*background: #181818 url(images/bg1.png) center center; */
	background: #fffff;
	width:100%;
	padding:0;
	text-align: center;
	color: #fff;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}



/*******************************************************************************************************/
/* 10. breadcrumb */
/*******************************************************************************************************/

#breadcrumb_wrapper {
	background: #181818 url(images/bg1.png) center center;
	width:100%;
	padding:50px 0;
	text-align: center;
	color: #fff;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
#breadcrumb_wrapper h3 {
	color: #fff;
	margin: 0;
}
#breadcrumb_wrapper h6, #slider_wrapper h6 {
	color: #8f8f8f;
	text-transform: lowercase;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0;
	padding:20px 0 30px 0;
	font-size: 18px;
}
#breadcrumb_wrapper h6 { padding:20px 0 0 0; }



/*******************************************************************************************************/
/* 11. sidebar left & sidebar right */
/*******************************************************************************************************/

.sidebar_left {
	width:20%;
	float:left;
}
.sidebar_right {
	width:20%;
	float:right;
}
.content_left {
	width:80%;
	float:left;
	padding-right:50px;
}
.content_right {
	width:80%;
	float:right;
	padding-left:50px;
}
.sidebar_left ul li a,
.sidebar_right ul li a {
	color: #aaa;
}
.sidebar_left ul li a:hover,
.sidebar_right ul li a:hover {
	color: #c65757;
}

.sidebar_left input[type="text"],
.sidebar_right input[type="text"] {
	width:100%;
	padding:15px;
	margin-bottom: 5px;
	border: none;
	background: #fff;
}
.screen-reader-text { display: none; }
.sidebar_left img, .sidebar_right img, .content_left img, .content_left img, .content img {
	max-width:100%;
}



/*******************************************************************************************************/
/* 12. buttons */
/*******************************************************************************************************/

.button {
	display: inline-block;
	background: transparent;
	border: 2px solid #c65757;
	padding:20px 40px;
	margin:0 2px 2px 0;
	color: #c65757;
	text-transform: lowercase;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
}
.button:hover {
	background: #c65757;
	border: 2px solid #c65757;
	padding:20px 40px;
	color: #fff;
	text-transform: lowercase;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
}

.small {
	padding:3px 15px !important;
}
.black { border: 2px solid #000; color: #000; }
.black:hover {
	border: 2px solid #000;
	background: #000;
	color: #fff;
}



/*******************************************************************************************************/
/* 13. message box */
/*******************************************************************************************************/

.message {
	padding:100px 0;
	background: #181818 url(images/bg2.png) repeat center center;
	text-align: center;
	color: #fff;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.message h3 {
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}
.message h5 {
	color: #8f8f8f;
	padding:20px 0;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
}



/*******************************************************************************************************/
/* 14. vps slider */
/*******************************************************************************************************/

.vps_slider { margin:0 auto; }
.vps_slider_2 { width:550px; }
.vps_slider_3 { width:730px; }
.vps_slider_4 { width: 830px; }
.vps_slider_5 { width: 880px; }
.vps_slider_6 { width: 915px; }
.vps_slider_7 { width: 930px; }
.vps_slider_8 { width: 960px; }
.vps_2 .node { width: 50%; }
.vps_3 .node { width: 33.3%; }
.vps_4 .node { width: 25%; }
.vps_5 .node { width: 20%; }
.vps_6 .node { width: 16.6%; }
.vps_7 .node { width: 14.2%; }
.vps_8 .node { width: 12.5%; }
#nodes {
	margin: 0 auto;
	text-align: center;
	padding-bottom:20px;
}
.node {
	float: left;
	border-right: none;
	padding-bottom:20px;
	text-align: center;
}
.node i {
	font-size: 40px;
	color: #aaa;
}
.vps_highlight i { color: #c65757; }
.vps .one_half:first-child { padding-top:20px; text-align: right; }
.vps .one_half:last-child { text-align: left; padding-bottom:30px; }
.node-details {
	float: left;
	background: #fff;
	padding:10px;
	margin-bottom: 1px;
	display: inline-block;
	text-align: center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.node-details h6 { margin-bottom: 0; }



/*******************************************************************************************************/
/* 15. latest twitter posts */
/*******************************************************************************************************/

.latest-tweets p.tweet-text:before {
	content: "\f099";
	font-family: 'FontAwesome', sans-serif;
	padding-right:10px;
}
.latest-tweets time {
	margin-top:10px;
	width:100%;
	display: block;
}
.latest-tweets li { margin-bottom:40px; display:block; }
.latest-tweets li:last-child { margin-bottom:0px; }
.latest-tweets li a:before { display:none; }
.latest-tweets li a { padding:0; }
.latest-tweets li a:hover { color: #c65757; }



/*******************************************************************************************************/
/* 16. dedicated servers */
/*******************************************************************************************************/

.ds_heading {
	background: #181818 url(images/bg1.png) repeat;
	padding:10px 0;
	color: #fff;
}
.ds_processor { width:35%; float:left; padding-left:20px; }
.ds_ram { width:5%; float:left; text-align: center; }
.ds_cores { width:10%; float:left; text-align: center; }
.ds_diskspace { width:10%; float:left; text-align: center; }
.ds_bandwidth { width:10%; float:left; text-align: center; }
.ds_price { width:10%; float:left; text-align: center; }
.ds_order { width:20%; float:left; padding-right:20px; text-align: right; }

.ds .ds_processor:before {
	content: "\f0a0";
	padding-right:10px;
	font-family: 'FontAwesome', sans-serif;
	color: #c65757;
}
.ds {
	background: #fff;
	padding:15px 0 10px 0;
	border-bottom: 1px solid #eee;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
.ds:hover {
	background: #f5f5f5;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
.ds .button {
	padding:3px 15px 5px 15px;
	margin-top:-5px;
}



/*******************************************************************************************************/
/* 17. blog post */
/*******************************************************************************************************/

.blog_post h1,
.blog_post h2,
.blog_post h3,
.blog_post h4,
.blog_post h5,
.blog_post h6 { margin:30px 0; -ms-word-wrap: break-word; word-wrap: break-word; }
.blog_post h4:first-child { margin:0 0 10px 0; }
.blog_post_content ul {
	padding-left:20px;
	list-style: disc inside;
}
.blog_post_content ol {
	padding-left:20px;
	list-style: decimal inside;
}

.blog_post img { max-width:100%; height:auto; margin-bottom:10px; }
.blog_post img.alignleft { padding-right:20px; }
.blog_post img.alignright { padding-left:20px; }
.blog_post_details {
	display: block;
	width: 100%;
	margin-bottom:10px;
}
.blog_post_details:after {
	content: " ";
	clear: both;
	display: block;
}
.blog_post_details li {
	float:left;
	margin-right:20px;
}
.blog_post_details li i {
	padding-right:10px;
}
.wp-caption { max-width: 100%; }
.wp-caption-text {}
.post.sticky h4:first-child {
	background: #c65757;
	padding:5px 10px;
	color: #fff;
	width:auto;
	display: inline-block;
}
.post.sticky h4:first-child:hover {
	background: #1a1a1a;
}
.gallery-caption {}
.gallery-item dd { padding-left:0px; }
.gallery-item img { border:0 !important; }
.gallery-columns-6 img, .gallery-columns-7 img, .gallery-columns-8 img, .gallery-columns-9 img { max-width:90% !important; }
.wp-audio-shortcode { margin-bottom:20px; }
.format-link a { font-size:21px; }
.format-link a:after {
	font-family: "FontAwesome";
	content: "\f054";
	padding-left:20px;
	color: #c65757;
}
.format-quote blockquote { padding-left:0; }



/*******************************************************************************************************/
/* 18. pagination */
/*******************************************************************************************************/

#pagination:before {
	content: " ";
	clear: both;
	display: block;
}
#pagination a:first-child { padding-right:40px; }

.post_navigation, .wp-pagenavi { clear:both; }
.post_navigation { margin-bottom:100px; }
.post_navigation p { margin-bottom:0; color: #fff; }
.post_navigation a p { color: #c65757; }
.post_navigation span.post_navigation_links > p { background: #c65757; color: #fff; }
.post_navigation a, .post_navigation span > p, .wp-pagenavi a {
	text-align: center;
	color: #c65757;
	border: none !important;
	background: #fff;
	padding:5px 15px !important;
	display:inline-block;
	width:auto;
	margin-right:10px !important;

	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
.post_navigation span.pages, .wp-pagenavi span {
	text-align: center;
	color: #c65757;
	border: none !important;
	background: #fff;
	padding:5px 15px !important;
	margin-right:10px !important;
	display:inline-block;
	width:auto;

	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
.post_navigation a:hover, .wp-pagenavi a:hover, .wp-pagenavi span.current {
	color: #fff;
	background: #c65757;
}
.wp-pagenavi span.current {
	width:auto;
	font-weight: normal !important;
	border: none !important;
	color: #fff;
	background: #c65757;
}
.wp-pagenavi .last {
	width: auto !important;
}


#pagination li {
	display: inline-block;
	float:left;
	margin-right:10px;
}
#pagination li a {
	background: #fff;
	border: 1px solid #f5f5f5;
	padding:10px 15px;
}
#pagination li a.pagination_current {
	background: #c65757;
	border: 1px solid #c65757;
	color: #fff;
	padding:10px 15px;
}
#pagination li a:hover {
	background: #c65757;
	border: 1px solid #c65757;
	color: #fff;
	padding:10px 15px;
}



/*******************************************************************************************************/
/* 19. comments */
/*******************************************************************************************************/

.pingback, .comment {
	width:100%;
	float:right;
	display: block;
	border: 1px solid #f5f5f5;
	background: #fff;
	padding:20px 25px;
	margin-bottom:30px;
}
.pingback h1, .comment h1,
.pingback h2, .comment h2,
.pingback h3, .comment h3,
.pingback h4, .comment h4,
.pingback h5, .comment h5,
.pingback h6, .comment h6 { margin:20px 0; }
.pingback:last-child, .comment:last-child { margin-bottom: 0px; }

.pingback ul, .comment ul {
	padding-left:20px;
	list-style: disc inside;
}
.pingback ol, .comment ol {
	padding-left:20px;
	list-style: decimal inside;
}

.pingback ul.comment_details, .comment ul.comment_details {
	padding:0;
	list-style-type: none;
}
.pingback ul.comment_details li, .comment ul.comment_details li {
	float:left;
	margin-right:20px;
}
.comment_avatar {
	width:15%;
	float:left;
}
.comment_avatar img {
	width:100%;
	height:auto;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.pingback .comment_text {
	width:100%;
	padding-left:0;
}
.comment_text {
	width:85%;
	float:left;
	padding-left:30px;
}
.comment_text ul i { padding-right:10px; }
.depth-5 .comment_text ul i.icon-pencil { display:none; }
.depth-2 { width:90%; margin-left:10%; }
.depth-3 { width:80%; margin-left:20%; }
.depth-4 { width:70%; margin-left:30%; }
.depth-5 { width:60%; margin-left:40%; }

.comment-reply-title {  }

.comment-reply-title small { font-size: 14px; display: block; }
.comment-respond { width:100%; margin-bottom: 30px; display: block; }
.comment-respond label { display: block; }
.comment-respond .comment-reply-title { margin-bottom:30px; }

.comment-form-comment label { display: none; }
.comment-form-comment input {
	display: block;
	width:51%;
	padding:15px;
	border: 1px solid #f5f5f5;
	background: #fff;
	margin-bottom:5px;
	float:left;
}
.comment-form-comment textarea {
	display: block;
	width:100%;
	padding:15px;
	height:200px;
	margin:5px 0 10px 0;
	border: 1px solid #f5f5f5;
	background: #fff;
	float:left;
}
.comments-nav { padding-bottom:10px; }
.comments-nav:after { clear:both; display: block; content: ""; }



/*******************************************************************************************************/
/* 20. 404 page */
/*******************************************************************************************************/

#page_404 {
	text-align: center;
}
#page_404 input[type="text"] {
	background: #fff;
	border: none;
	padding:15px;
	width:250px;
}
#page_404 input[type="submit"] {
	margin-top:10px;
}



/*******************************************************************************************************/
/* 21. contact form */
/*******************************************************************************************************/

.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
	display: block;
	width:100%;
	padding:15px;
	border: 1px solid #f5f5f5;
	background: #fff;
	margin-bottom:5px;
	position: relative;
	z-index: 99;
	float:left;
}
.wpcf7 input[type="submit"],
.wpcf7 input[type="reset"] {
	cursor: pointer;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="reset"]:hover {
	background: #c65757;
	color: #fff;
}
.wpcf7 textarea {
	display: block;
	width:100%;
	padding:15px;
	height:200px;
	margin:0 0 10px 0;
	border: 1px solid #f5f5f5;
	background: #fff;
	float:left;
}
div.wpcf7-mail-sent-ok { border: 2px solid #c65757; color: #c65757; }
div.wpcf7-mail-sent-ng { border: 2px solid #c65757; color: #c65757; }
div.wpcf7-spam-blocked { border: 2px solid #c65757; color: #c65757; }
div.wpcf7-validation-errors { border: 2px solid #c65757; color: #c65757; }
span.wpcf7-not-valid-tip { color: #c65757; z-index:1; }
.use-floating-validation-tip span.wpcf7-not-valid-tip { border: 1px solid #c65757; }
div.wpcf7-response-output { margin-left:0; }

#contact_info i { padding-right:10px; }



/*******************************************************************************************************/
/* 22. footer */
/*******************************************************************************************************/

footer {
	background: #1a1a1a;
	width:100%;
	color: #666;
	margin:0;
	padding:50px 0 0 0;
}
footer img { max-width: 100%; height:auto; }
footer a:hover { color: #c65757; }
footer p { color: #666; }
footer h6 {
	color: #fff;
	text-transform: uppercase;
	margin-top:40px;
}
footer .one_half h6:first-child { margin-top:0; }
footer .one_third h6:first-child { margin-top:0; }
footer .one_fourth h6:first-child { margin-top:0; }
footer .one_fifth h6:first-child { margin-top:0; }

footer ul li a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 2px solid #666;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
footer ul li a { padding-left:20px; }
footer ul li a:hover { color: #fff; }
footer ul li a:hover:before { border: 2px solid #c65757; }
footer ul li a {
	color: #666;
	position: relative;
}
footer input[type="text"],
footer input[type="email"] {
	background: transparent;
	padding:15px;
	border:2px solid #282828;
	color: #fff;
	width:100%;
	margin-bottom:20px;
}
footer input[type="text"]:focus,
footer input[type="email"]:focus {
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
	border:2px solid #c65757;
}
footer .mc4wp-form label { font-weight: normal; }

#footer_contact li { padding-bottom:10px; }
#footer_contact li a:before { display: none; }
#footer_contact li a { padding-left:0; }
#footer_contact li a:hover { color: #c65757; }

#footer_address { margin-left:20px; }
#footer_address:before {
	content: "\f08d";
	font-family: "FontAwesome";
	margin-left:-20px;
	padding-right: 10px;
}
#footer_phone:before {
	content: "\f095";
	font-family: "FontAwesome";
	padding-right:10px;
}
#footer_email:before {
	content: "\f0e0";
	font-family: "FontAwesome";
	padding-right:10px;
}


#footer_bottom {
	background: #050505;
	padding:20px 0;
	margin-top:50px;
	width: 100%;
}
/* #footer_bottom p { margin-bottom:0; float:left; } */
#footer_bottom a { color: #666; }
#footer_bottom a:hover { color: #fff; }
#footer_bottom ul { float:right; }
#footer_bottom ul li {
	float:left;
	margin-left:5px;
}
#footer_bottom ul li a:before { display:none; }
#footer_bottom ul li a {
	background: transparent;
	color: #c65757;
	padding-left:0;
	width:30px;
	display: inline-block;
	text-align: center;
}
#footer_bottom ul li a:hover {
	background: #c65757;
	color: #1a1a1a;
	width:30px;
	display: inline-block;
	text-align: center;
}
#footer_bottom ul li a:hover i {
	color: #000;
}
.rsswidget { width:100%; display:block; }
.sub-menu, .children { padding-left:20px; }
.sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu,
.children .children .children .children .children .children { padding-left:0px; }
#recentcomments a:before {
	display: none;
}
#recentcomments li { position: relative; padding-left:20px !important; }
#recentcomments li:before {
	content: "";
	position: absolute;
	left: 0;
	display: block;
	top: 10px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 2px solid #666;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
#recentcomments li:hover:before { border: 2px solid #c65757; }



/*******************************************************************************************************/
/* 23. WHMCS styling */
/*******************************************************************************************************/

.adminreturndiv { display: none; }
.navbar { margin-left:90px; }
.footerdivider { margin:0 auto; }
.whmcscontainer input[type="text"],
.whmcscontainer input[type="password"] {
	border: 1px solid #eee;
}

#bridge table { width:100%; max-width:100%; text-align: left; }
#bridge > table { margin-bottom:10px; }
#bridge table tr { border-bottom:1px solid #f5f5f5; }
#bridge table th { background: #1a1a1a; color: #fff; font-weight:normal; padding:10px 15px; }
#bridge table td { background: #fff; padding:10px 15px;  }
#bridge table input[type="text"], #bridge table input[type="password"], #bridge table textarea { border:1px solid #f5f5f5; }
#bridge table input[type="text"], #bridge table input[type="password"] { width:50%; }
#bridge table i { padding-right:10px; }
#bridge img { width:auto; max-width:none; }
#bridge h4 { margin:30px 0 10px 0; }
#bridge .breadcrumb { background: #eee; padding:5px 10px; }



/*******************************************************************************************************/
/* 24. stats */
/*******************************************************************************************************/

.stats_wrapper {
	padding:100px 0;
	background: #181818 url(images/bg2.png) repeat center center;
	text-align: center;
	color: #fff;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}


#series_container.filter_c {
  float: right;
}


#series_container {
  height: 50px;
}

.series {
  float: left;
}

.btn_series {
  width: 130px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  font-weight: bold;
  display: block;
  background: #ffffff;
  border-radius: 18px;
  /* text-shadow: -1px -1px 1px #2f8aab; */
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  float: left;
  margin-left: 10px;
}

.small_btn_series {
	width:200px;
	height:20px;
	font-size:14px;
	line-height:40px;
	color:#ffffff !important;
	font-weight:normal;
	display:block;
	background:#A90000;
	border-radius:18px;
	/* text-shadow:-1px -1px 1px #2f8aab; */
	border:none;
	text-align:center;
	cursor:pointer;
	position:relative;
	float:left;
	margin-bottom:5px !important;
	margin-bottom:5px !important;
	text-transform: uppercase;
}
.btn_series:hover {
	background-color:#000000;
	text-decoration:none;
	color:#ffffff;
}
.small_btn_series:hover {
	background-color:#000000;
	text-decoration:none;
	color:#000000;
}
.btn_series:active {
	background-color:#A90000;
	text-decoration:none;
	color:#fff;
}
.small_btn_series:active {
	background-color:#A90000;
	text-decoration:none;
	color:#fff;
}

.page-id-1840 .content ,
.page-id-1909 .content ,
.page-id-1911 .content ,
.page-id-1917 .content ,
.page-id-1913 .content ,
.page-id-1915 .content {
	background: url(images/content_bg_red_black.png) repeat-x top left #000000;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.sidebar .side_box {
  position: relative;
  box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
  background: #fff;
  margin: 0 0 30px 0;
  padding: 0;
  border-radius: 5px;
}

.sidebar h5 {
  padding: 15px 15px 15px 15px;
  line-height: 20px;
  margin: 0;
  border-bottom: 1px solid #efefef;
}

body {
 background: #ffffff;
}

p {
 color: #000000;
}

#top_links {
 background: #ffffff;

}

#content .main_box {
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
  background-color: #ffffff;
}

#content .product_c .main_box {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#content .product_c .main_box {
  margin-bottom: 30px;
}

#content .main_box .desc {
  padding: 10px 10px 50px;
  background: #ffffff;
}

#content .main_box .box_1 {
  /*background: none repeat scroll 0 0 #dcdcdc; */
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
#content .main_box .box_1 img {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#content .main_box .box_1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(3, 50, 68, 0.1);
  opacity: 0;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#content .main_box .box_1 a.cart_btn_1 {
  margin: -100px auto 10px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#content .main_box .box_1 a.info_btn, #content .main_box .box_1 a.cart_btn_1 {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

html .btn_c, html .ui-widget-header, html #header .cart_menu .cheout_row .checkout_btn#header .cart_menu ul li .price, html #header .cart_menu .cheout_row .checkout_btn, html #content .cart_btn a.next_btn, html #content .tag_c ul li a.tag:hover, html .btn_c:hover, html .sidebar .side_box_3 ul li a:hover, #header .cart_menu .cheout_row .checkout_btn:hover {
  background: #676c75;
  text-shadow: none !important;
}

.btn_c {
  width: 130px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
  display: block;
  margin: 30px auto 0;
  font-family: 'latoblack';
  background: #37bbec;
  border-radius: 18px;
  text-shadow: -1px -1px 1px #2f8aab;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}

html #content .main_box .box_1 a.info_btn, html .banner .line_1 {
  /* background: none repeat scroll 0 0 #FF0000; */
  background: none repeat scroll 0 0 #A90000;
}

#content .main_box .box_1 a.info_btn {
  width: 130px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
  display: block;
  margin: 0 auto;
  font-family: 'latoblack';
  background: #fbcf00;
  border-radius: 18px;
  text-shadow: -1px -1px 1px #d7b101;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#content .main_box .desc h5 a {
  color: #282727;
}

#content .main_box .desc p {
  font-size: 14px;
  line-height: 16px;
  color: #898989;
  padding: 7px 0 14px 0;
}

html .caret, html #header .hed_right ul li span, html #header .right_menu > ul > li > a span:hover, html #nav .navbar-nav > li a:hover, html #nav .navbar-nav > li ul li a, html .home-slider .flex-control-nav .fa:hover, html .banner_nav .scroll_down .fa-arrow-circle-down, html .fa-arrow-circle-right, html #content .h_row_2 .fa-arrow-circle-right, html #content .main_box .desc .price, html #footer .f_mid p a, html #footer .f_bot .f_bot_right a, html #content .slider .slider_desc .price_c .old_price, html #content .page_c ul li.active a, #content .page_c ul li a:hover, html #content a.backtocate .fa, html #content .pro_main_c .desc_blk .desc_blk_inn ul li .fa-smile-o, html #content .pro_main_c .desc_blk .review_row a.add_rew, html #nav .navbar-nav > li .new_item .price, html #header .cart_menu ul li .price, html #header .acc_menu a.sign_up, html #content .cart_tbl ul li .price, html #content .infor_c .infor_c_inn p a, html #content .blog_blk .blog_desc > h5 a:hover, html #content .comment_c h5.sub_title strong {
  /* color: #676c75; */
  text-shadow: none !important;
}

#content .main_box .desc .price {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
 /* font-family: 'latoblack'; */
  font-weight: bold;
}

.sidebar_1 h5 a {
  color: #282727;
  display: block;
  background: url(images/arrow_down.png) no-repeat right center;
}

.sidebar .side_box ul li:nth-child(odd) {
  background: #fff;
}

.sidebar .side_box ul li {
  margin: 0;
  padding: 7px 15px 7px 15px;
  display: block;
}

.sidebar .side_box ul li:last-child {
  border-radius: 0px 0px 5px 5px;
}

#rewards {
  height:565px;
  background: #ffffff url(images/quote_background.png) center center;
  text-align:center;
  padding-top:25px;
}

#rewards_right {
	margin-top: 30px;
	margin-left: 50px;
	width: 600px;
	height: 486px;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	display: inline-block;
}
#rewards_content {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#rewards_right p {
	color: #000;
}
#rewards_right h4 {
	text-transform: capitalize;
}

#rollsrewards {
	vertical-align: top;
	width: 309px;
	height: 381px;
	background:url(images/rollsrewards.png);
	display: inline-block;
}

#quote {
  height:400px;
  background: #ffffff url(images/red_battery.jpg) center center;
  text-align:center;
}

#quote1 {
	font-family: OpenSans-Light, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
	color:#ffffff;
	padding-top:140px;
	margin:auto;
}


#quote2 {
	padding-top:35px;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	color:#ffffff;
	margin:auto;
}

#quote_box {
	width:850px;
	margin: auto;
}
#quotes {
	width:700px;
	float:left;
}
#left_quote {
	width:40px;
	float:left;
	margin-top:125px;
}
#right_quote {
	width:40px;
	float:left;
	margin-top:175px;
}

.content {
	padding-bottom: 0px;
}

#twitter {
	width: 100%;
	float: left;
}

#twitter_box {
	width: 80%;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size: 13px;
	float:left;
}


#twitter_logo_blue {
	float:left;
	left: 0px;
	width: 67px;
	height: 55px;
	background:url(images/twitter_logo_blue.png);
	margin-right: 20px;
}

#more_info {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#D3001A;
	width: 178px;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
	font-size: 19px;
	text-align: left;
	color:#FFFFFF;
	text-align:center;
	vertical-align: middle;
	margin-top: 45px;
}

#more_info a {
	color:#FFFFFF;
}
#more_info a:hover {
	color: #000000;
	text-decoration:none;
}

#our_product {
	margin-top: 30px;
	text-align: center;
}
#our_products {
	font-family: OpenSans-Semibold, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	color:#101010;
}

#train, #battery, #sun, #lightning, #marine, #ship, #gel {
	width: 190px;
	height: 190px;
	display:inline;
	margin:25px;
}

#trainlink  {
	width:100%;
	height:100%;
	display:block;
	background:url(images/railroad_product.png);
	background-size: cover !important;
}
#trainlink:hover {
	background:url(images/railroad_product_hover.png);
	background-size: cover !important;
}

#batterylink  {
	width:100%;
	height:100%;
	display:block;
	background:url(images/motive_power_product.png);
	background-size: cover !important;
}

#batterylink:hover {
	background:url(images/motive_power_product_hover.png);
	background-size: cover !important;
}

#sunlink {
	width:100%;
	height:100%;
	display:block;
	background:url(images/renewable_product.png);
	background-size: cover !important;
}

#sunlink:hover {
	background:url(images/renewable_product_hover.png);
	background-size: cover !important;
}

#lightninglink {
	width:100%;
	height:100%;
	display:block;
	background:url(images/agm_product.png);
	background-size: cover !important;
}

#lightninglink:hover {
	width:100%;
	height:100%;
	background:url(images/agm_product_hover.png);
	background-size: cover !important;
}

#shiplink {
	width:100%;
	height:100%;
	display:block;
	background:url(images/marine_product.png);
	background-size: cover !important;
}

#shiplink:hover {
	width:100%;
	height:100%;
	background:url(images/marine_product_hover.png);
	background-size: cover !important;
}

#gellink {
	width:100%;
	height:100%;
	display:block;
	background:url(images/gel_product.png);
	background-size: cover !important;
}

#gellink:hover {
	width:100%;
	height:100%;
	background:url(images/gel_product_hover.png);
	background-size: cover !important;
}

#icons {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

.page-id-1802 .content {
	padding: 0;
}

#top .wrap,
#content .wrap,
footer .wrap,
#footer_bottom .wrap {
	width: 85%;
}

.tweettext, .widget .tweettext {
  color: #ffffff !important;
}

.tweettext a, .widget .tweettext a {
  color: #c65757 !important;
}

.sidebar .side_box {
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	background:#fff;
	margin:0 0 30px 0;
	padding:0;
	border-radius:5px;
}
.sidebar h5 {
	padding:15px 15px 15px 15px;
	line-height:20px;
	margin:0;
	border-bottom:1px solid #efefef;
}
.sidebar .side_box_1 {
}
.sidebar .side_box ul {
	margin:0;
	padding:0;
}
.sidebar .side_box ul li {
	margin:0 auto;
	padding:2px 15px 2px 20px;
	display:block;
	font-size:15px;
	display:inline-block;
}
.sidebar .side_box ul li a {
	margin:0;
	padding:0 0;
	display: inline-block;
	font-size:15px;
	line-height:21px;
	color:#4e4e4e;
	font-weight:normal;
	display:block;
}
.sidebar .side_box ul li:nth-child(odd) {
	background:#fff;
}
.sidebar .side_box ul li:nth-child(even) {
	background:#fafafa;
}
.sidebar .side_box ul li:last-child {
	border-radius:0px 0px 5px 5px;
}

#searchBox {
	width: 100%;
	border: 1px solid #fafafa;
	background: url(/wp-content/themes/realhost/images/search.png) no-repeat right;
}

#footerlinks {
	float:right;
}

#copyrightbottom {
	float:left;

}

.form-group label,
.main_box strong {
	margin-bottom: 5px;
	font-weight: bold;
	color: #000000;
}

#selector_box1 {
	overflow: hidden;
}

input#spinEdit.form-control {
  width: 50px;
  display: inline;
}

div.spinedit .icon-chevron-up {
  top: -5px !important;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  /* background-image: url("../images/glyphicons-halflings.png"); */
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

small {
	font-size: 70%;
	color: #000000;
}

div.spinedit .icon-chevron-down {
	top: 6px;
}


.sectiontable {
  display: table;
  width: 100%;
  border-spacing:5px;
}

.sectiontable2 {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.sectionrow {
  display: table-row;
  width: 100%;
}

.sectioncell_2 {
  display: table-cell;
  width: 50%;
  text-align:center;
}

.sectioncell_3 {
  display: table-cell;
  width: 33%;
  text-align:center;
}

.sectioncell_4 {
  display: table-cell;
  width: 20%;
  text-align:center;
}

.sectioncell_6 {
  display: table-cell;
  width: 16.7%;
  text-align:center;
}

.sectiongray1 {
	font-size:70%;
	color: #000000;
	background-color:#C0C0C0;
}

.sectiongray2 {
	font-size:70%;
	color: #000000;
	background-color:#E0E0E0;
}

.sectionred1 {
	font-weight: bold;
	font-size:80%;
	color: #FFFFFF;
	background-color:#980000;
}

#selector_box2 {
	color:#000000;
}

.testimonials-widget-testimonial span.open-quote,
.testimonials-widget-testimonial span.close-quote {
	display:none;
}

div.credit {
	margin-top:20px !important;
	text-align:center !important;
}

#step4selector {
	position:absolute;
	top: 625px;
	left:70px;
}

.ui-spinner-button {
	display:none;
}

.ui-spinner .ui-icon {
	color: #980000;
	text-align:center;
	vertical-align:middle;
	margin-top: 0;
	top: 0;
	position: relative;
}

.ui-spinner-input {
	display:inline-block;
	margin-right:35px !important;
	width:40px !important;
}

.selector-box ul {
	text-align:center;
}
.selector-box ul li {
	padding: 2px 0 !important;
	text-align:center;
}

#selector_box3 label {
                font-size: 90%;
}

.page-id-1840 .content {
	padding: 31px 0 0 0;
}

.page-id-1840 #thisselector_box {
	margin: -9px 0 0 0 ;
}

.page-id-1840 #batteries_container {
	padding: 30px 0 0 0;
}

.fraction > sup,
.fraction > sub {
	font-size: .66em;
}
.fraction > sup {
	vertical-align: .4em;
}
.fraction > sub {
	vertical-align: -.2em;
}

#selector_box3 .desc1 {
	width: 47%;
}

#box_1_default {
	display:visible;
}
#box_1_mobile {
	display:none;
}
#box_1_stat {
	width: 70%;
	float:left;
}

.wpgmza_sl_search_button {
	color: #000000;
}
.wpgmza_sl_reset_button {
	color: #000000;
}

#wpgmza_table_1_filter {
	float:left;
	margin-left: 20px;
}

.dataTables_length label {
	font-weight: bold;
}

.series_filters {
	position: relative;
	width: 100%;
}

.series_filters_mobile {
	position: relative;
	width: 100%;
}

#step4selectormobile,
#series_renewable_energy,
#series_marine,
#series_agm,
#series_railroad,
#series_motive_power {
	display: none;
}

#step5thandquantitybox {
	position: relative;
	display:block;
	height: 205px;
}

.step5thquantitybox {

	position: relative;
	display:block;
	clear:both;
}

#selector_box2 {
	display:none;
}

#menu-item-1828 {
	display: none !important;
}

.content-america {
	display: none;
}
