﻿body
{
}

div.mainwrapper
{
	min-width:900px;
	max-width:900px;
	width:900px;
	border: solid 1px lightgray;
}

div.copyright
{
	font-size: 9pt;
	font-weight:bold;
}

div.p_webcam
{
	font-size: 7pt;
	text-align: center;
}

div.weather_links
{
	font-size: 10pt;
	text-align:left;
}

.defaultblock
{
	margin: 0px 0 20px 0;
    background: url(../images/bgblock.gif) repeat-x top;             
    width:200px;
}

h2{color:#666;
   margin-top:1px;
   }	
   
table.maintable
{
	width:100%;
	margin-top: 3px;
}

td.menutd
{
	width:130px;
	vertical-align:top;
}

td.mainColumn
{
	width: 100%;
	vertical-align:top;
	padding-left:5px;
}

div.welcomeheader
{
	font-size: 22pt;
	font-family:Arial;
	color: #0554A3;
}
div.welcomemessage
{
	padding:5px;
	border:solid 1px grey;
	font-weight:bold;
}

img.webcam
{
	height: 131px;
	width: 175px;
	border: solid 1px grey;
}

/*Navigation Menu*/
.navmenuwrapper {position:relative; height:200px; width:200px; vertical-align:top; background: url(../images/bgblock.gif) repeat-x top;}
.navmenu {position:relative; left:0; top:0;}
.navmenu, 
.navmenu ul {padding:0; margin:0; list-style:none; font-family:arial, sans-serif; font-weight:bold; } /*list-style-image: url("../images/menubullet.gif");*/
.navmenu li a {padding-left:0px; white-space:nowrap;}
.navmenu li ul li a {padding-left:0;}
.navmenu ul {padding-left:20px;}
.navmenu li a {color:#66b; text-decoration:none; font-size:11px;}
.navmenu li {font-size:13px; line-height:20px; color:#d80; width:100%;}
.navmenu li.down {text-indent:0px;}
.navmenu li a:hover {text-decoration:underline;}


/*Photo Menu*/
#gallery
{
    /*padding: 10px;*/
    margin-left:0px;
}
#gallery ul
{
    list-style: none;
    margin-left:0px;
    padding-left:0px;
}
#gallery ul li
{
    display: inline;
}
#gallery ul img
{
    border: 5px solid #CFD9ED;
    border-width: 5px 5px 20px;
    margin-bottom:5px;
    
    
}
#gallery ul a:hover img
{
    border: 5px solid #718FCB;
    border-width: 5px 5px 20px;
    color: #D9E1F1;
}
#gallery ul a:hover
{
    color: #fff;
}



div.news
{
	border:solid 1px grey;
	font-weight:bold;
	font-size:10pt;
	padding:5px;
}
div.newsheader
{
	height:15px;
	background: #666666;
	font-family:Tahoma;
	font-weight:bold;
	padding:5px;
	vertical-align:middle;
	margin-bottom:5px;
	font-size:12pt;
	color: White;
	
}
img.nolink
{
	cursor:default;
}
img.noborder
{
	border:none;
}



/* Bridge Page*/
.bridge
{
	padding:5px;
	width:400px;
				
	
}


.history li
{
	padding-bottom: 10px;
}

.contact 
{
	padding:1px;
}





table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 325px;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.stats td.hed
{background-color: #666;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;} 

a.link
{
	color:#66b;font-size:13px;
}